<div>
  {{#with main}}
  <main>
    <section>
      {{> title data="My educationgi"}}
      <ul>
        {{#each education}}
        <li>
          {{name}}
          {{#unless isEnd}}
            (в процесі)
          {{/unless}}
        </li>
        {{/each}}
      </ul>
    </section>


    <!-- Список сертифікатів у невпорядкованому списку -->
    <section>
      {{> title data="My certificates"}}
      <ul>
        {{#each certificates}}
        <li>{{name}} (ID: {{id}})</li>
        {{/each}}
      </ul>
    </section>
  </main>
  {{/with}}
</div>
